@if(!showReport) {
<div class="loading-overlay">
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

} @else {
<h1>REPORT <mat-icon> bar_chart</mat-icon> <button matMiniFab (click)="refreshPage()">
        <mat-icon>refresh</mat-icon>
    </button>
</h1>
<br><br>
@for (merchantGroup of groupedArray; track merchantGroup.merchantId) {
<app-mini-etl-report-transactions-per-merchant-id [merchantGroup]="merchantGroup"
    [groupedArray]="groupedArray"></app-mini-etl-report-transactions-per-merchant-id>
}
}