<nav class="navbar navbar-expand-lg bg-primary sticky-top text-white">
  @if(isAuth) {<div class="container">
    <a class="navbar-brand" routerLink="/transazione" text-white> TRANSAZIONE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto  text-white">
        <li class="nav-item">
          <a class="nav-link" routerLink="/report">REPORT</a>
        </li>
      </ul>
      <button mat-menu-item matButton="filled" (click)="logout()">
        <mat-icon>logout</mat-icon> LOGOUT
      </button>
    </div>
  </div>}
</nav>