.transazione-container {
    margin-top: 30px;
}

/* sidebar */
    body {
      overflow-x: hidden;
      background-color: #f8f9fa;
    }

    .sidebar {
      width: 85px;
      min-height: 100vh;
      position: fixed;
       top: 0;
      left: 0;
      z-index: 1000;
    }
   /* .nav-link {
        margin-top:60px;
    }*/
    .sidebar .nav-link {
      color: rgba(255,255,255,.75);
      border-radius: 12px;
      padding: 12px 16px;
      transition: 0.2s ease;
    }

    .sidebar .nav-link:hover,
    .sidebar .nav-link.active {
      background-color: rgba(255,255,255,.1);
      color: #fff;
    }

    .main-content {
      min-height: 100vh;
    }